body
{
    /* ----------------------------- */
	/* global constant variables that can be used in CSS */
	/* ----------------------------- */
	--DARK-BLUE-COLOR: #1F52F2; 
	--LIGHT-BLUE-COLOR: #0079FF; 
	--LIGHT-RED-COLOR: #C3272B;
	--DARK-RED-COLOR: #8F1D21;

	--TEXT-COLOR: var(--LIGHT-BLACK-COLOR);
	--EDITOR-POPUP-BACKGROUND: rgba(255, 255, 255, 0.05);
	

	background-color: white;
	color: var(--LIGHT-BLACK-COLOR);
	font-family: 'Muli', sans-serif;

	--LABEL-FONT-SIZE: 12px;
    --DEFAULT-FONT-SIZE: 12px;

	margin: 0;
	padding: 0;
	font-size: var(--DEFAULT-FONT-SIZE);
}







/* ----------------------------- */
/* Inputs */
/* ----------------------------- */
input
{
	--DEFAULT-CONTROL-HEIGHT: 20px;
	--INPUT-HIDDEN-PADDING: 4px;

	font-family: 'Muli', sans-serif;
	font-weight: 300;
	vertical-align: bottom;
	background: rgba(255, 255, 255, 0.05);

	display: block;
	width: 100%;
	min-height: calc(var(--DEFAULT-CONTROL-HEIGHT) - var(--INPUT-HIDDEN-PADDING));
	font-size: var(--FONT-SIZE);
	padding: 5px 5px;
	outline: none; 

	/** Needed because padding changes width uncontrollably if this is missing */
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input.title
{
	color: var(--LIGHT-BLUE-COLOR);
}

input[error]
{
	color: var(--LIGHT-RED-COLOR);
	border-bottom: 1px solid var(--LIGHT-RED-COLOR);
}

input.selected
{
	color: var(--LIGHT-BLUE-COLOR);
	border-bottom: 1px solid var(--LIGHT-BLUE-COLOR);
}






/* ----------------------------- */
/* Button */
/* ----------------------------- */
button
{
	border-radius: 5px;
	border-style: solid;
	background-color: white;

	color: var(--LIGHT-BLUE-COLOR);
	border-color: var(--LIGHT-BLUE-COLOR);
}

button.dark
{
	color: white;
	background-color: var(--LIGHT-BLUE-COLOR);
}

button.save
{
	margin-left: 5px;
}



/* ----------------------------- */
/* Popup */
/* ----------------------------- */
popup>wrapper_
{
	margin: 20px;
	display: flex;	
    flex-direction: column;
}

popup .top-bar
{
	margin-bottom: 20px;
}

popup .middle-bar
{
	flex-grow: 1;
}

popup .bottom-bar
{
	text-align: right;
}

popup input.title
{
	border-bottom: 1px solid var(--LIGHT-GRAY-COLOR);
	font-size: 20px;
	font-weight: 100;
}

popup input[error]
{
	color: var(--LIGHT-RED-COLOR);
	border-bottom: 1px solid var(--LIGHT-RED-COLOR);
}

popup input.title:focus
{
	color: var(--LIGHT-BLUE-COLOR);
	border-bottom: 1px solid var(--LIGHT-BLUE-COLOR);
}





/* ----------------------------- */
/* Layers */
/* ----------------------------- */
layer-resizable,
layer#popups
{
	background-color: rgba(0,0,0,0.5);
}

layer#popups[num-of-children="0"]
{
	display: none !important;
}



/* ----------------------------- */
/* Month view */
/* ----------------------------- */

month-view
{
	display: block;
	width: 100%;
	height: 100%;
	font-size: 10px;
}

month-view .header
{
	display: flex;
}

month-view .header>div
{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;

	font-weight: 700;
	text-align: center;
}

month-view week
{
	--NUM-OF-WEEKS: 6;

	display: flex;
	width: 100%;
	height: calc(100% / var(--NUM-OF-WEEKS));
}

month-view vertical-line
{
	display: block;
	min-height: 100%;
	width: 1px;
	background-color: var(--LIGHT-GRAY-COLOR);
}

month-view horizontal-line
{
	display: block;
	height: 1px;
	min-width: 100%;
	background-color: var(--LIGHT-GRAY-COLOR);
}

month-view day
{
	display: block;

	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
	position: relative;

	/*border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: var(--LIGHT-GRAY-COLOR);*/
}

month-view day wrapper_
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


month-view day.not-current-month wrapper_
{
	opacity: 0.3;
}

month-view day title
{
	display: block;
	
	text-align: center;
}